/*
*******************************
****  ANIMATION CONTROLS  *****
*******************************
*/
/*
*{
	margin: 0;
	padding: 0;
}
*/

@-webkit-keyframes arrow{
	0%{top:40px}
	32%{top:40px}
	35%{top:160px;}
	70%{top:160px;}
	73%{top:280px}
	97%{top:280px}
	100%{top:55px}
}


@-webkit-keyframes banner{
	0%{top:-1083px;}
	32%{top:-1083px;}
	35%{top:-722px;}
	70%{top:-722px;}
	73%{top:-362px;}
	97%{top:-362px;}
	100%{top:0px;}
}


@-moz-keyframes banner{
	0%{top:-1090px;}
	32%{top:-1090px;}
	35%{top:-728px;}
	70%{top:-728px;}
	73%{top:-368px;}
	97%{top:-368px;}
	100%{top:0px;}
}

@-ms-keyframes banner{
	0%{top:-1090px;}
	32%{top:-1090px;}
	35%{top:-728px;}
	70%{top:-728px;}
	73%{top:-368px;}
	97%{top:-368px;}
	100%{top:0px;}
}

@-webkit-keyframes cta1{
0%{background-position-y:0px;}
57%{background-position-y:-140px;}
97%{background-position-y:-140px;}
100%{background-position-y:0px;}
}

@-moz-keyframes cta1{
0%{background:rgba(206,206,206,.8);}
57%{background:rgba(206,206,206,0);}
98%{background:rgba(206,206,206,0);}
100%{background:rgba(206,206,206,.8);}
}

@-ms-keyframes cta1{
0%{background:rgba(206,206,206,.8);}
57%{background:rgba(206,206,206,0);}
98%{background:rgba(206,206,206,0);}
100%{background:rgba(206,206,206,.8);}
}

@-webkit-keyframes cta2{
0%{background-position-y:-140px;}
31%{background-position-y:-140px;}
34%{background-position-y:-0px;}
74%{background-position-y:-140px;}
100%{background-position-y:-140px;}
}

@-moz-keyframes cta2{
0%{background:rgba(206,206,206,0);}
31%{background:rgba(206,206,206,0);}
34%{background:rgba(206,206,206,.8);}
74%{background:rgba(206,206,206,0);}
100%{background:rgba(206,206,206,0);}
}

@-ms-keyframes cta2{
0%{background:rgba(206,206,206,0);}
31%{background:rgba(206,206,206,0);}
34%{background:rgba(206,206,206,.8);}
74%{background:rgba(206,206,206,0);}
100%{background:rgba(206,206,206,0);}
}

@-webkit-keyframes cta3{
0%{background-position-y:-140px;}
70%{background-position-y:-140px;}
73%{background-position-y:0px;}
98%{background-position-y:-140px;}
100%{background-position-y:-140px;}
}

@-moz-keyframes cta3{
0%{background:rgba(206,206,206,0);}
71%{background:rgba(206,206,206,0);}
74%{background:rgba(206,206,206,.8);}
98%{background:rgba(206,206,206,0);}
100%{background:rgba(206,206,206,0);}
}

@-ms-keyframes cta3{
0%{background:rgba(206,206,206,0);}
71%{background:rgba(206,206,206,0);}
74%{background:rgba(206,206,206,.8);}
98%{background:rgba(206,206,206,0);}
100%{background:rgba(206,206,206,0);}
}


.slider li:nth-of-type(1){
	-webkit-animation:cta1 15s infinite;
	-moz-animation:cta1 15s infinite;
	-ms-animation:cta1 15s infinite;
}

.slider li:nth-of-type(2){
	-webkit-animation:cta2 15s linear infinite;
	-moz-animation:cta2 15s linear infinite;
	-ms-animation:cta2 15s linear infinite;
}

.slider li:nth-of-type(3){
	-webkit-animation:cta3 15s linear infinite;
	-moz-animation:cta3 15s linear infinite;
	-ms-animation:cta3 15s linear infinite;
}


.banners{
	-webkit-animation:banner 15s infinite linear;
	-webkit-animation-fill-mode:backwards;
	-moz-animation:banner 15s infinite linear;
	-moz-animation-fill-mode:backwards;
	-ms-animation:banner 15s infinite linear;
	-ms-animation-fill-mode:backwards;
}

.container:hover .banners,.container:hover .slider li:nth-of-type(1),.container:hover .slider li:nth-of-type(2),.container:hover .slider li:nth-of-type(3),.container:hover .slider li:nth-of-type(4),.container:hover .sliderArrow{
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
	-ms-animation-play-state:paused;
}
/**********************************
*****  END ANIMATION CONTROLS *****
**********************************/

/**********************************
********  MANUAL CONTROLS *********
**********************************/
.slider .cta a:hover{
	background:rgba(206,206,206,.8);
	background:-webkit-linear-gradient(top, rgba(206,206,206,.7) 0%,rgba(255,255,255,1) 100%) no-repeat;
	background:-moz-linear-gradient(top, rgba(206,206,206,.7) 0%,rgba(255,255,255,1) 100%) no-repeat;
	}

.slider .cta:hover:before{
	display:block;
	content:"";
	width:690px;
	height:360px;
	overflow:hidden;
	position:absolute;
	left:250px;
	z-index:20;
	}
	
	
.slider .cta1:hover:before{
	content:url(../images/1.png);
	top:0;
}

.slider .cta2:hover:before{
	content:url(../images/2.png);
	top:-121px;
}

.slider .cta3:hover:before{
	content:url(../images/3.png);
	top:-242px;
}

.slider .cta4:hover:before{
	content:url(../images/4.png);
	top:-363px;
}	



/**********************************
*****   END MANUAL CONTROLS   *****
**********************************/

.container{
	display:block;
	float:left;
	height:360px;
	width:940px;
	border:1px solid #999;
	margin:10px;
	padding:0;
	overflow:hidde;
	position:relative;
	border-radius:3px;
	box-shadow:1px 1px 3px rgba(0,0,0,.3);
	overflow: hidden;
}

.banners{
	position:relative;
	display:block;
	left:251px;
	border:none;
	margin-top: 3px;
	overflow: hidden;
}

.banners a{
	display: block;
	text-decoration:none;
	outline:none;
	border:none;
	border-style:none;
	color:transparent;
	width:690px;
	height:360px;
}


.banners a img{
	display: block;
	height:100%;
}

.slider{
	display:block;
	float:left;
	width:180px;
	height:100%;
	margin:0;
	padding:0;
	list-style-type:none;
	position:fixed;
}

.slider li{
	display:block;
	float:left;
	position:relative;
	width:250px;
	height:120px;
	margin:0;
	padding:0;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
	-webkit-transition:all .3s ease;
	background:-webkit-linear-gradient(top, rgba(206,206,206,.7) 0%,rgba(206,206,206,.7) 70%,rgba(255,255,255,1) 100%) no-repeat;
	background: -webkit-linear-gradient(top, rgba(0,122,201,1) 0%,rgba(0,122,201,1) 50%,rgba(0,122,201,.3) 100%) no-repeat;
	background-position-x: -247px;
}

.slider li:last-of-type{
	border-bottom:none;
}

.slider li a{
	display:block;
	text-decoration:none;
	height:100%;
	width:100%;
	margin-top:-10px;
	color:#007ac9;
}


.slider li a h3,.slider li a p{
	position:relative;
	font-family:sans-serif;
	margin:10px 5px;
	text-align:left;
}

.slider li a h3{
	font-size:16px;
	padding-top:10px;
	margin-left: 10px;
}

.slider li a p{
	font-size:13px;
	color:#2a2a2a;
	margin-left: 10px;
}

.sliderArrow{
	-webkit-animation:arrow 15s infinite linear;
	-webkit-animation-fill-mode:backwards;
	position: absolute;
	left:246px;
	-webkit-filter:drop-shadow(2px 2px 3px rgba(0,0,0,.4));
	z-index: 100;
}