/*
*******************************
****  ANIMATION CONTROLS  *****
*******************************
*/

/***** Animation Controls for Rotating Banner images *****/
@-webkit-keyframes banner{
	0%{top:-720px;}
	32%{top:-720px;}
	35%{top:-480px;}
	70%{top:-480px;}
	73%{top:-240px;}
	97%{top:-240px;}
	100%{top:0px;}
}

@-o-keyframes banner{
	0%{top:-720px;}
	32%{top:-720px;}
	35%{top:-480px;}
	70%{top:-480px;}
	73%{top:-240px;}
	97%{top:-240px;}
	100%{top:0px;}
}


@-moz-keyframes banner{
	0%{top:-720px;}
	32%{top:-720px;}
	35%{top:-480px;}
	70%{top:-480px;}
	73%{top:-240px;}
	97%{top:-240px;}
	100%{top:0px;}
}

@-ms-keyframes banner{
	0%{top:-720px;}
	32%{top:-720px;}
	35%{top:-480px;}
	70%{top:-480px;}
	73%{top:-240px;}
	97%{top:-240px;}
	100%{top:0px;}
}

.banners{

	-webkit-animation:banner 18s infinite linear ;
	-webkit-animation-fill-mode:backwards;
	-moz-animation:banner 18s infinite linear;
	-moz-animation-fill-mode:backwards;
	-ms-animation:banner 18s infinite linear;
	-ms-animation-fill-mode:backwards;
	-o-animation:banner 18s infinite linear;
	-o-animation-fill-mode:backwards;
}


/****** Animation controls for Arrow *****/
@-webkit-keyframes arrow{
	0%{top:0px}
	32%{top:0px}
	35%{top:80px;}
	70%{top:80px;}
	73%{top:160px}
	97%{top:160px}
	100%{top:0px}
}

@-o-keyframes arrow{
	0%{top:0px}
	32%{top:0px}
	35%{top:80px;}
	70%{top:80px;}
	73%{top:160px}
	97%{top:160px}
	100%{top:0px}
}

@-moz-keyframes arrow{
	0%{top:0px}
	32%{top:0px}
	35%{top:80px;}
	70%{top:80px;}
	73%{top:160px}
	97%{top:160px}
	100%{top:0px}
}

@-ms-keyframes arrow{
	0%{top:0px}
	32%{top:0px}
	35%{top:80px;}
	70%{top:80px;}
	73%{top:160px}
	97%{top:160px}
	100%{top:0px}
}

.sliderArrow{
	-webkit-animation:arrow 18s infinite linear;
	-webkit-animation-fill-mode:backwards;
	-moz-animation:arrow 18s infinite linear;
	-moz-animation-fill-mode:backwards;
	-ms-animation:arrow 18s infinite linear;
	-ms-animation-fill-mode:backwards;
	-o-animation:arrow 18s infinite linear;
	-o-animation-fill-mode:backwards;
}

/***** Animation Controls for Rotating Banner Timer *****/
@-webkit-keyframes cta1{
0%{height:80px;}
35%{height:0px;}
98%{height:0px;}
100%{height:80px;}
}

@-o-keyframes cta1{
0%{height:80px;}
35%{height:0px;}
98%{height:0px;}
100%{height:80px;}
}

@-moz-keyframes cta1{
0%{height:80px;}
35%{height:0px;}
98%{height:0px;}
100%{height:80px;}
}

@-ms-keyframes cta1{
0%{height:80px;}
35%{height:0px;}
98%{height:0px;}
100%{height:80px;}
}


@-webkit-keyframes cta2{
0%{height:0px;}
32%{height:0px;}
35%{height:80px;}
70%{height:0px;}
100%{height:0px;}
}

@-o-keyframes cta2{
0%{height:0px;}
32%{height:0px;}
35%{height:80px;}
75%{height:0px;}
100%{height:0px;}
}

@-moz-keyframes cta2{
0%{height:0px;}
32%{height:0px;}
35%{height:80px;}
75%{height:0px;}
100%{height:0px;}
}

@-ms-keyframes cta2{
0%{height:0px;}
32%{height:0px;}
35%{height:80px;}
75%{height:0px;}
100%{height:0px;}
}

@-webkit-keyframes cta3{
0%{height:0px;}
71%{height:0px;}
74%{height:80px;}
98%{height:0px;}
100%{height:0px;}
}

@-o-keyframes cta3{
0%{height:0px;}
71%{height:0px;}
74%{height:80px;}
98%{height:0px;}
100%{height:0px;}
}

@-moz-keyframes cta3{
0%{height:0px;}
71%{height:0px;}
74%{height:80px;}
98%{height:0px;}
100%{height:0px;}
}

@-ms-keyframes cta3{
0%{height:0px;}
71%{height:0px;}
74%{height:80px;}
98%{height:0px;}
100%{height:0px;}
}


.slider .cta1 .timer{
-webkit-animation:cta1 18s infinite;
-moz-animation:cta1 18s infinite;
-ms-animation:cta1 18s infinite;
-o-animation:cta1 18s infinite;		
}

.slider .cta2 .timer{
-webkit-animation:cta2 18s infinite;
-moz-animation:cta2 18s infinite;
-ms-animation:cta2 18s infinite;
-o-animation:cta2 18s infinite;	
}

.slider .cta3 .timer{
-webkit-animation:cta3 18s infinite;
-moz-animation:cta3 18s infinite;
-ms-animation:cta3 18s infinite;
-o-animation:cta3 18s infinite;	
}



/**********************************
*****  END ANIMATION CONTROLS *****
**********************************/

/**********************************
********  MANUAL CONTROLS *********
**********************************/

/***** Pauses Rotating Banner animation when user hovers over any part of the rotating banner *****/
.container:hover .banners,.container:hover .slider li:nth-of-type(1),.container:hover .slider li:nth-of-type(2),.container:hover .slider li:nth-of-type(3),.container:hover .slider li:nth-of-type(4),.container:hover .sliderArrow,.container:hover .timer{
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
	-ms-animation-play-state:paused;
	-o-animation-play-state:paused;
}


/**** Sets hover state for banner headlines *****/
.slider .cta a:hover{
background: #dddddd;
background: rgb(221,221,221); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(221,221,221,1)), color-stop(31%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(221,221,221,1) 0%,rgba(255,255,255,1) 31%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(221,221,221,1) 0%,rgba(255,255,255,1) 31%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(221,221,221,1) 0%,rgba(255,255,255,1) 31%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(left, rgba(221,221,221,1) 0%,rgba(255,255,255,1) 31%,rgba(255,255,255,1) 100%); /* W3C */
	}

/***** Generates rotating banner preview when user hovers over banner headlines *****/

/* COMMENT OUT NEXT FOUR SELECTORS TO DISABLE BANNER PREVIEWS */
.slider li:hover:before{
	display:block;
	content:"";
	width:640px;
	height:240px;
	position:absolute;
	left:301px;
	z-index:50;
	background:red;
	}
	
	
.slider .cta1:hover:before{
	background: url(http://placehold.it/640x240/007ac9/) no-repeat; /* IMAGE FOR FIRST SLIDE */
	background-size: cover;
	top:0;
}

.slider .cta2:hover:before{
	background: url(http://placehold.it/640x240/3C8A2E/) no-repeat; /* IMAGE FOR SECOND SLIDE */
	background-size: cover;
	top:-81px;
}

.slider .cta3:hover:before{
	background: url(http://placehold.it/640x240/D2492A/) no-repeat; /* IMAGE FOR THIRD SLIDE */
	background-size: cover;
	top:-162px;
}

/**********************************
*****   END MANUAL CONTROLS   *****
**********************************/


.operaBug{
	overflow: hidden;
	height:240px;
}


.container{
	position: relative;
	display:block;
	float:left;
	height:240px;
	width:940px;
	border:1px solid #999;
	margin:10px;
	padding:0;
	-moz-border-radius: 3px;
	border-radius:3px;
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,.3);
	box-shadow:1px 1px 3px rgba(0,0,0,.3);
}

*+html .container { 
   overflow:hidden;
}

.banners{
	position:relative;
	display:block;
	left:301px;
	border:none;
	overflow: hidden;
	top:-720px;
}

.banners a{
	display: block;
	text-decoration:none;
	outline:none;
	border:none;
	border-style:none;
	color:transparent;
	width:640px;
	height:240px;
}


.banners a img{
	display: block;
	width: 100%;
	border: 0;
}

.slider{
	display:block;
	float:left;
	width:300px;
	margin:0;
	padding:0;
	list-style-type:none;
	position:fixed;
	z-index:10;
}



.slider .cta{
	display:block;
	float:left;
	position:relative;
	width:300px;
	height:80px;
	margin:0;
	padding:0;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	/* overflow: hidden; */
}



.slider .cta3{
	border-bottom:none;
}

.slider .cta .sliderLink{
	display:block;
	text-decoration:none;
	height:100%;
	width:100%;
	margin-top:-5px;
	color:#007ac9;
}


.slider .cta .sliderLink .sliderTitle,.slider .cta .sliderLink p{
	position:relative;
	font-family:sans-serif;
	margin:5px 10px;
	text-align:left;
}

.slider .cta .sliderLink .sliderTitle{
	font-size:16px;
	padding-top:10px;
}

.slider .cta .sliderLink p{
	font-size:13px;
	color:#2a2a2a;
}

.timer{
	display: block;
	height: 100%;
	width:3px;
	position: absolute;
	left: 0;
	top:0;
	background: -moz-linear-gradient(top, rgba(0,122,201,1) 0%,rgba(0,122,201,1) 50%,rgba(0,122,201,.3) 100%) no-repeat;
	background: -webkit-linear-gradient(top, rgba(0,122,201,1) 0%,rgba(0,122,201,1) 50%,rgba(0,122,201,.3) 100%) no-repeat;
	background: -ms-linear-gradient(top, rgba(0,122,201,1) 0%,rgba(0,122,201,1) 50%,rgba(0,122,201,.3) 100%) no-repeat;
	background: -o-linear-gradient(top, rgba(0,122,201,1) 0%,rgba(0,122,201,1) 50%,rgba(0,122,201,.3) 100%) no-repeat;
	background: linear-gradient(top, rgba(0,122,201,1) 0%,rgba(0,122,201,1) 50%,rgba(0,122,201,.3) 100%) no-repeat;
}

/***** Hides Timer if users browser does not support CSS Animations *****/
.no-cssanimations .timer{
	display: none;
}


.sliderArrow{
	position: absolute;
	left:300px;
	height: 80px;

	z-index: 100;
}

.sliderArrow img{
	height: 100%;
}

/***** Hides Arrow if users browser does not support CSS Animations *****/




